body {
   background-color: rgb(78, 77, 77);
}

.container {
    width:90%;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.border {
    float:left;
    width:30%;
    border: 7px solid rgb(255,255,255);
    border-radius: 50px;
    margin-right:2%;
    position: relative;
}
.valori {
    background-color:rgb(53, 46, 46);
    width:100%;
    float:left;
    filter: blur(10px);
    overflow:auto;
    border-radius: 50px;
    position:relative;
}

h1 {
    text-align: center;
    line-height:1.6;
}

.intro {
    width:30%;
    height:30vh;
    top:0;
    margin-left: 50%;
    transform: translate(-50%, 0);
}

.video {
    width:100%;
    height:inherit;
    border: 6px solid rgb(255, 255, 255);
    border-radius: 10px;
    margin-left:50%;
    transform: translate(-50%, 0);
}

h1, h2, h3, h4, h5, a {
    font-family: Comic Sans MS, Comic Sans, cursive;
}

a {
    color:rgb(255, 174, 0);
    text-decoration: none;
    
}


a:hover {
    color: yellow;
}



span{
    font-size:10em;
    margin-left:13vw;
    top:33.7vh;
    position:absolute;
    color:rgb(255, 255, 255);
    text-shadow: 1px 1px 15px rgb(255, 4, 4);
}

span:hover {
    opacity: 70%;
    cursor:pointer;
}

#question1, #question2, #question3 {
    margin-top: 3%;
    padding-left:250px;
    padding-right: 250px;
}

#question1 {
    margin-left: 4%;
}

#question2 {
    margin-left: 33%;
}

#question3 {
    margin-left: 62.5%;
}




u {
    text-underline-offset: 10px;
}